# ====================server====================
server:
  port: 8099
spring:
  application:
    name: dubbo-demo-provider
dubbo:
  application:
    id: dubbo-demo-provider
    name: dubbo-demo-provider
  protocol:
    id: dubbo
    name: dubbo
    port: 20880
  registry:
    protocol: zookeeper
    address: zookeeper://127.0.0.1:2181
    id: dubbo-demo-provider-registry
    check: false
    timeout: 60000
  #dubbo服务消费启动时不用check(即要求有提供者才能正确启动)  如此才能设置dubbo服务既是dubbo提供者也能是dubbo消费者
  consumer:
    check: false
    timeout: 60000
  provider:
    filter: providerDubboFilter  #配置dubbo filter,必须和com.alibaba.dubbo.rpc.Filter中的value值保持一致